################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvancedEntry/AdvancedEntry.FormsPlugin.Abstractions/bin
/AdvancedEntry/AdvancedEntry.FormsPlugin.Abstractions/bin
/AdvancedEntry/AdvancedEntry.FormsPlugin.Abstractions/obj/Release
/AdvancedEntry/AdvancedEntry.FormsPlugin.Abstractions/obj/Debug
/AdvancedEntry/AdvancedEntry.FormsPlugin.Android/bin/Debug
/AdvancedEntry/AdvancedEntry.FormsPlugin.Android/bin/Release
/AdvancedEntry/AdvancedEntry.FormsPlugin.Android/obj/Debug
/AdvancedEntry/AdvancedEntry.FormsPlugin.Android/AdvancedEntry.FormsPlugin.Android.csproj.bak
/.vs
/AdvancedEntry/AdvancedEntry.FormsPlugin.Android/AdvancedEntry.FormsPlugin.Android.csproj.user
/AdvancedEntry/AdvancedEntry.FormsPlugin.iOS/bin/iPhone
/AdvancedEntry/AdvancedEntry.FormsPlugin.iOS/obj/Debug
/AdvancedEntry/AdvancedEntry.FormsPlugin.iOS/obj/Release
/AdvancedEntry/AdvancedEntry.FormsPlugin.iOS/AdvancedEntry.FormsPlugin.iOS.csproj.user
/AdvancedEntry/AdvancedEntry.FormsPlugin.WindowsPhone/Bin
/AdvancedEntry/AdvancedEntry.FormsPlugin.WindowsPhone/obj
/packages
/AdvancedEntry/AdvancedEntry.FormsPlugin.Android/obj/Release
*.user
*.nupkg
/UpgradeLog.htm
