################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/packages
*.user
*.nupkg
/UpgradeLog.htm
/EnhancedEntry/EnhancedEntry.FormsPlugin.Abstractions/bin/Debug
/EnhancedEntry/EnhancedEntry.FormsPlugin.Abstractions/obj
/EnhancedEntry/EnhancedEntry.FormsPlugin.Android/bin/Debug
/EnhancedEntry/EnhancedEntry.FormsPlugin.Android/obj
/EnhancedEntry/EnhancedEntry.FormsPlugin.iOS/bin/iPhone/Debug
/EnhancedEntry/EnhancedEntry.FormsPlugin.iOS/obj
/SampleApp/SampleApp/bin/Debug/netstandard2.0
/SampleApp/SampleApp/obj
/SampleApp/SampleApp.Android/bin/Debug
/SampleApp/SampleApp.Android/obj
/SampleApp/SampleApp.iOS/bin/iPhoneSimulator/Debug
/SampleApp/SampleApp.iOS/obj
/UpgradeLog3.htm
/UpgradeLog2.htm
/EnhancedEntry/EnhancedEntry.FormsPlugin.Abstractions/bin/Release
/EnhancedEntry/EnhancedEntry.FormsPlugin.Android/bin/Release
/EnhancedEntry/EnhancedEntry.FormsPlugin.iOS/bin/iPhone/Release
/SampleApp/SampleApp/bin/Release/netstandard2.0
/SampleApp/SampleApp.Android/bin/Release
/SampleApp/SampleApp.UWP/obj/x86/Release
/UpgradeLog4.htm
/SampleApp/SampleApp/bin/Debug/netstandard1.4
*.htm
/EnhancedEntry/EnhancedEntry.FormsPlugin.Abstractions.Portable/bin
/EnhancedEntry/EnhancedEntry.FormsPlugin.Abstractions.Portable/obj
/EnhancedEntry/EnhancedEntry.FormsPlugin.iOS/bin/Release
/SampleApp/SampleApp/bin
